
/*
    © Joey Smalen. All rights reserved.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #010510;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    height: calc(100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom)));
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

/* Layout */
main {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    padding-left: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.55;
}

.mask {
    position: absolute;
    height: 170px;
    width: 100%;
    padding-top: 16px;
    background: #010510;
    bottom: -100px;
    border-radius: 50%;
}

.expand-page {
    position: relative;
    bottom: -100vh;
    width: 100%;
}

.expand-page {
    position: relative;
    left: 0;
    width: 100%;
    padding-top: 7.5em;
    padding-left: 18vw;
    padding-right: 18vw;
}

.container {
    width: 100%;
}

.container video, img {
    max-width: 100%;
}

.two-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-side > * {
    max-width: 40%;
}

footer {
    overflow: hidden;
}

footer > * {
    bottom: 0;
    font-size: 90%;
    margin: 10px 20px;
    position: absolute;
}

footer > *:last-child {
    right: 0;
}

/* Style: basic */
a {
    color: inherit;
    text-decoration: none;
    transition: ease-in 70ms;
}

a:hover {
    color: #fff;
    font-weight: 750 !important;
}

b, strong {
    font-weight: 600;
}

/* Style: headline */
.text-headline {
    color: rgb(225, 228, 229);
    font-size: 4.4em;
    font-weight: 850;
}

.text-headline-2 {
    color: rgb(225, 228, 229);
    font-size: 3.5em;
    font-weight: 750;
}

.text-subheadline {
    color: rgb(200, 200, 230);
    font-size: 1.6em;
    font-weight: 500;
}

.text-subtext {
    color: rgb(200, 200, 230);
}

.text-body {
    padding-top: 24px;
}

.text-white {
    color: #fff;
}

.text-center {
    color: #fff;
    text-align: center;
}

.margin-under-4 {
    margin-bottom: 4em;
}

.margin-under-9 {
    margin-bottom: 9em;
}

/* Style: masks */
.mask-24 {
    border-radius: 24px;
}

/* Style: footer entities */
.entity-bold {
    font-weight: 475;
}

/* Responsive */
@media screen and (max-width: 800px) {
    main {
        width: 100%;
        min-height: 80vh;
    }

    .expand-page {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .two-side {
        flex-direction: column;
        align-items: center;
    }

    .two-side > * {
        max-width: 100%;
    }

    .margin-under-4 {
        margin-bottom: 2em;
    }

    .margin-under-9 {
        margin-bottom: 4em;
    }
}

@media screen and (max-width: 425px) {
    main {
        font-size: 80%;
        padding: 2.5vh;
    }

    footer > *:last-child {
        float: none;
        text-align: right;
    }
}
